{
  "swagger": "2.0",
  "info": {
    "title": "domain-identity-flag_types",
    "description": "domain-identity-flag_types",
    "version": "v1",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.byu.edu",
  "schemes": [
    "https"
  ],
  "basePath": "/domains/domain/identity/flag_types",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/": {
      "x-controller": "flag_types",
      "get": {
        "summary": "domain-identity-flag_types",
        "description": "domain-identity-flag_types",
        "operationId": "getflag_types",
        "parameters": [
          {
            "name": "flag_types_query",
            "in": "query",
            "description": "flag_types query parameter.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/page_start"
          },
          {
            "$ref": "#/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of flag_types",
            "schema": {
              "$ref": "#/definitions/flag_types"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/flag_types"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "description": "There is no matching flag_types",
            "schema": {
              "$ref": "#/definitions/simple_metadata"
            }
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "post": {
        "summary": "flag_types",
        "description": "Creates a flag type",
        "operationId": "createflag_type",
        "parameters": [
          {
            "name": "flag_types",
            "in": "body",
            "description": "New flag_types values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/flag_type_new"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "flag type successfully created",
            "schema": {
              "$ref": "#/definitions/flag_type"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/flag_types/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    },
    "/{flag_name}": {
      "x-controller": "flag_types",
      "get": {
        "summary": "domain-identity-flag_types-by-name",
        "description": "domain-identity-flag_types-by-name",
        "operationId": "getflag_type",
        "parameters": [
          {
            "name": "flag_name",
            "in": "path",
            "description": "flag_type name parameter.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of flag_type",
            "schema": {
              "$ref": "#/definitions/flag_type"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/flag_types/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "404": {
            "description": "There is no matching flag_types",
            "schema": {
              "$ref": "#/definitions/simple_metadata"
            }
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "put": {
        "summary": "domain-identity-flag_types-by-name",
        "description": "modify a flag type",
        "operationId": "modify_flag_type",
        "parameters": [
          {
            "name": "flag_name",
            "in": "path",
            "description": "flag_type name parameter.",
            "required": true,
            "type": "string"
          },
          {
            "name": "flag_name",
            "in": "body",
            "description": "New flag_type value",
            "required": true,
            "schema": {
              "$ref": "#/definitions/flag_type_new"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "flag type successfully modified",
            "schema": {
              "$ref": "#/definitions/flag_type"
            },
            "examples": {
              "application/json": {
                "$ref": "#/x-mock_json/flag_types/values/0"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      },
      "delete": {
        "summary": "domain-identity-flag_types-by-name",
        "description": "delete a flag type",
        "operationId": "delete_flag_type",
        "parameters": [
          {
            "name": "flag_name",
            "in": "path",
            "description": "flag_type name parameter.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "flag type successfully deleted"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403"
          },
          "409": {
            "$ref": "#/responses/409"
          },
          "default": {
            "$ref": "#/responses/default"
          }
        }
      }
    }
  },
  "definitions": {
    "flag_types": {
      "description": "The flag_types collection",
      "type": "object",
      "required": [
        "values"
      ],
      "properties": {
        "links": {
          "description": "Hypermedia Links that impact the flag_types collection",
          "type": "object",
          "properties": {
            "flag_types__info": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string",
                  "enum": [
                    "self"
                  ],
                  "default": "self"
                },
                "href": {
                  "type": "string",
                  "format": "uri",
                  "default": "https://api.byu.edu/domains/domain/identity/flag_types/v1?page_start=51&page_size=50"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "GET"
                  ],
                  "default": "GET"
                }
              }
            },
            "flag_types__prev": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string",
                  "enum": [
                    "flag_types__prev"
                  ],
                  "default": "flag_types__prev"
                },
                "href": {
                  "type": "string",
                  "format": "uri",
                  "default": "https://api.byu.edu/domains/domain/identity/flag_types/v1?page_start=:page_start&page_size=:page_size"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "GET"
                  ],
                  "default": "GET"
                }
              }
            },
            "flag_types__next": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string",
                  "enum": [
                    "flag_types__next"
                  ],
                  "default": "flag_types__next"
                },
                "href": {
                  "type": "string",
                  "format": "uri",
                  "default": "https://api.byu.edu/domains/domain/identity/flag_types/v1?page_start=:page_start1&page_size=:page_size"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "GET"
                  ],
                  "default": "GET"
                }
              }
            },
            "flag_types__create": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string",
                  "enum": [
                    "flag_types__create"
                  ],
                  "default": "flag_types__create"
                },
                "href": {
                  "type": "string",
                  "format": "uri",
                  "default": "https://api.byu.edu/domains/domain/identity/flag_types/v1"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "POST"
                  ],
                  "default": "POST"
                }
              }
            }
          }
        },
        "metadata": {
          "$ref": "#/definitions/sub_level_metadata"
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/flag_type"
          }
        }
      },
      "example": {
        "$ref": "#/x-mock_json/flag_types"
      }
    },
    "flag_type": {
      "description": "A flag type",
      "type": "object",
      "properties": {
        "links": {
          "description": "Hypermedia Links that this domain-identity-flag_types",
          "type": "object",
          "properties": {
            "flag_type__info": {
              "description": "Hypermedia link to retrieve this domain-identity-flag_types",
              "type": "object",
              "required": [
                "rel",
                "href",
                "method"
              ],
              "properties": {
                "rel": {
                  "type": "string",
                  "enum": [
                    "self"
                  ],
                  "default": "self"
                },
                "href": {
                  "type": "string",
                  "format": "uri",
                  "default": "https://api.byu.edu/domains/domain/identity/flag_types/v1/:flag_type"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "GET"
                  ],
                  "default": "GET"
                }
              }
            },
            "flag_type__modify": {
              "description": "Hypermedia link to modify some domain-identity-flag_types",
              "type": "object",
              "required": [
                "rel",
                "href",
                "method"
              ],
              "properties": {
                "rel": {
                  "type": "string",
                  "default": "flag_types__modify"
                },
                "href": {
                  "type": "string",
                  "default": "https://api.byu.edu/domains/domain/identity/flag_types/v1/:flag_type"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "PUT"
                  ],
                  "default": "PUT"
                }
              }
            },
            "flag_type__remove": {
              "description": "Hypermedia link to remove an domain-identity-flag_types",
              "type": "object",
              "required": [
                "rel",
                "href",
                "method"
              ],
              "properties": {
                "rel": {
                  "type": "string",
                  "default": "flag_types__remove"
                },
                "href": {
                  "type": "string",
                  "default": "https://api.byu.edu/domains/domain/identity/flag_types/v1/:flag_type"
                },
                "method": {
                  "type": "string",
                  "enum": [
                    "DELETE"
                  ],
                  "default": "DELETE"
                }
              }
            }
          }
        },
        "metadata": {
          "$ref": "#/definitions/simple_metadata"
        },
        "name": {
          "$ref": "#/definitions/name"
        },
        "explanation": {
          "$ref": "#/definitions/explanation"
        }
      },
      "example": {
        "$ref": "#/x-mock_json/flag_types/values/0"
      }
    },
    "flag_type_new": {
      "description": "Elements required to add a new flag_types",
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/name"
        },
        "explanation": {
          "$ref": "#/definitions/explanation"
        }
      },
      "example": {
        "$ref": "#/x-mock_json/flag_type_new"
      }
    },
    "simple_metadata": {
      "type": "object",
      "properties": {
        "cache": {
          "description": "If data is from live source, value will be null, otherwise it will be date-time of cache",
          "type": "object",
          "properties": {
            "date_time": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "validation_response": {
          "$ref": "#/definitions/validation_response"
        }
      }
    },
    "sub_level_metadata": {
      "allOf": [
        {
          "type": "object",
          "properties": {
            "collection_size": {
              "type": "integer",
              "minimum": 0
            },
            "page_start": {
              "type": "integer",
              "minimum": 0
            },
            "page_end": {
              "type": "integer",
              "minimum": 0
            },
            "page_size": {
              "type": "integer",
              "minimum": 1
            },
            "default_page_size": {
              "type": "integer",
              "minimum": 1
            },
            "max_page_size": {
              "type": "integer"
            }
          }
        },
        {
          "$ref": "#/definitions/simple_metadata"
        }
      ]
    },
    "top_level_metadata": {
      "allOf": [
        {
          "type": "object",
          "properties": {
            "field_sets_returned": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "basic"
                ]
              }
            },
            "field_sets_available": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "basic"
                ]
              }
            },
            "field_sets_default": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "basic"
                ]
              }
            },
            "contexts_available": {
              "description": "Contexts available for the domain-identity-flag_types resource",
              "type": "object",
              "properties": {
                "all": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "basic"
                    ]
                  }
                }
              }
            }
          }
        },
        {
          "$ref": "#/definitions/sub_level_metadata"
        }
      ]
    },
    "validation_response": {
      "type": "object",
      "required": [
        "return_code",
        "response"
      ],
      "properties": {
        "return_code": {
          "type": "integer"
        },
        "response": {
          "type": "string"
        }
      }
    },
    "name": {
      "description": "A flag type",
      "type": "string",
      "example": {
        "$ref": "#/x-mock_json/flag_types/values/0/name"
      }
    },
    "explanation": {
      "description": "Who created the flag_types?",
      "type": "string",
      "example": {
        "$ref": "#/x-mock_json/flag_types/values/0/explanation"
      }
    }
  },
  "parameters": {
    "page_start": {
      "name": "page_start",
      "in": "query",
      "description": "Skip into a large collection to this item",
      "required": false,
      "type": "string"
    },
    "page_size": {
      "name": "page_size",
      "in": "query",
      "description": "Return this many items of a large collection",
      "required": false,
      "type": "string"
    }
  },
  "responses": {
    "400": {
      "description": "Invalid Request - unable to interpret request",
      "schema": {
        "$ref": "#/definitions/simple_metadata"
      }
    },
    "401": {
      "description": "Authentication required to access data",
      "schema": {
        "$ref": "#/definitions/simple_metadata"
      }
    },
    "403": {
      "description": "Access denied to protected data",
      "schema": {
        "$ref": "#/definitions/simple_metadata"
      }
    },
    "409": {
      "description": "Query parameters conflict or are malformed",
      "schema": {
        "$ref": "#/definitions/simple_metadata"
      }
    },
    "default": {
      "description": "Unexpected error",
      "schema": {
        "$ref": "#/definitions/simple_metadata"
      }
    }
  },
  "x-mock_json": {
    "flag_types": {
      "links": {
        "flag_types__info": {
          "rel": "self",
          "href": "https://api.byu.edu/domains/domain/identity/flag_types/v1?page_start=51&page_size=50",
          "method": "GET"
        },
        "flag_types__prev": {
          "rel": "flag_types__prev",
          "href": "https://api.byu.edu/domains/domain/identity/flag_types/v1?page_start=1&page_size=50",
          "method": "GET"
        },
        "flag_types__next": {
          "rel": "flag_types__next",
          "href": "https://api.byu.edu/domains/domain/identity/flag_types/v1?page_start=101&page_size=50",
          "method": "GET"
        },
        "flag_types__create": {
          "rel": "flag_types__create",
          "href": "https://api.byu.edu/domains/domain/identity/flag_types/v1",
          "method": "POST"
        }
      },
      "metadata": {
        "collection_size": 1,
        "page_start": 1,
        "page_end": 1,
        "page_size": 1,
        "default_page_size": 50,
        "max_page_size": 1000,
        "cache": {
          "date_time": "2014-05-11T13:45:53.200Z"
        },
        "validation_response": {
          "return_code": 200,
          "response": "Retrieve Successful"
        }
      },
      "values": [
        {
          "links": {
            "flag_type__info": {
              "rel": "self",
              "href": "https://api.byu.edu/domains/domain/identity/flag_types/v1/111111111",
              "method": "GET"
            },
            "flag_type__modify": {
              "rel": "flag_types__modify",
              "href": "https://api.byu.edu/domains/domain/identity/flag_types/v1/111111111",
              "method": "PUT"
            },
            "flag_type__remove": {
              "rel": "flag_types__remove",
              "href": "https://api.byu.edu/domains/domain/identity/flag_types/v1/111111111",
              "method": "DELETE"
            }
          },
          "metadata": {
            "cache": {
              "date_time": "2014-05-11T13:45:53.200Z"
            },
            "validation_response": {
              "return_code": 200,
              "response": "Successful"
            }
          },
          "name": "HOLD",
          "explanation": "Allow no further processes until this matter is resolved."
        }
      ]
    },
    "flag_type_new": {
      "name": "HOLD",
      "explanation": "new flag type."
    },
    "xhealth_response": {
      "validation_response": {
        "return_code": 200,
        "response": "Success"
      }
    }
  }
}